
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
}

.toDo {
  background-color: #BACBD9;
  margin: 0px 100px 0px 100px;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #C3C8FA;
  border-style: solid;
  border-color: black;
/* top right bottom left */
  padding: 20px 20px 20px 20px;
  margin: 0px 100px 0px 100px;
  border-radius: 15px;
}

/* .centered-form {
  width: 80%;
  max-width: 500px;
  padding: 20px;
  background-color: #f8f8f8;
} */

button {
  background-color: #BACBD9;
  font-family: 'Playfair Display', serif;
  border-style: solid;
  border-color: white;
}