
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
}

.toDo {
  background-color: #BACBD9;
  margin: 0px 300px 0px 300px;
  border-radius: 10px;
  border: 1px solid black;
  color: black;
}

.centered-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #C3C8FA;
  padding: 10px 10px 10px 10px;
  margin: 0px 100px 0px 100px;
  border-radius: 15px;
  border: 1px solid black;
}

button {
  background-color: #BACBD9;
  font-family: 'Playfair Display', serif;
  border: 1px solid white;
  margin: 10px;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
}

input {
  width: 100%;
  padding: 10px 5px 10px 5px;
  font-family: 'Playfair Display', serif;
  border-radius: 10px;
}