@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=DM+Sans&family=Playfair+Display&display=swap");

body {
  margin: 0;
  padding-top: 20px;
  /* font-family: 'Playfair Display', serif; */
  font-family: "DM Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.toDo {
  background-color: #F2F2F2;
  margin: 0px 300px 0px 300px;
  padding-top: 20px;
  border-radius: 10px;
  font-family: "DM Sans", sans-serif;
  /* border: 1px solid black; */
  color: black;
}

.centered-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E1E6B9;
  padding: 10px 10px 10px 10px;
  margin: 0px 100px 0px 100px;
  border-radius: 15px;
  border: 1.5px solid #365902;
}

button {
  background-color: #83a603;
  font-family: "Playfair Display", serif;
  border: 1px solid white;
  margin: 10px;
  padding: 5px 10px 5px 10px;
  border-radius: 30px;
}

input {
  width: 100%;
  padding: 15px 5px 15px 5px;
  font-family: "DM Sans", sans-serif;
  border-radius: 15px;
  border: 1px solid #83a603;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  background-color: #f1f2d5;
  border: 1px solid #365902;
  border-radius: 10px;
  margin: 0px 100px 0px 100px;
}

.item {
  align-self: center;
  color: red;
}

.checkbox {
  width: 20px;
}

.date {
  background-color: #83a603;
  /* border: 1px solid black; */
  border-radius: 10px;
  /* t r b l */
  margin: 0px 100px 40px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.item2 {
  align-self: center;
  margin-top: 20px;
  color: white;
}

.past-tasks {
  background-color: #f1f2d5;
  text-align: center;
  border: 1px solid #83a603 ;
  border-radius: 10px;
  margin: 0px 100px 0px 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.add-icon {
  color: white;
}
